/* For NavBar  */


#navbar{

    /* height: 80px !important; */
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    color: white !important;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.navbar-brand{
    /* color: royalblue !important; */
    color: rgba(11, 34, 240, 0.8) !important;
    font-family: Satisfy, Arial, Helvetica, sans-serif;
    font-size: 1.5em !important;
}

.nav-link{

    color: rgba(11, 34, 240, 0.8) !important;
    margin: 0.5em !important;


}


.box-link{

    background-color: rgba(11, 34, 240, 0.8) !important;
    border-radius: 25px !important;
    width: 100px !important;
    color: white !important;
    text-align: center !important;
}

#title{

    color: rgba(11, 34, 240, 0.8) !important;
    font-family: Satisfy, Arial, Helvetica, sans-serif !important;

}

title {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #00ff00 !important;
  }



/* END NavBar  

****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************

*/



/* For Cards  */

.theCard{

    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    /* align-items: center; */

    /* width: 80%; */

}

.upperPart{

    display: flex;
    /* flex-direction: column; */
    /* background-color: aquamarine; */
    align-items: center;
    /* justify-content: center; */
    padding: 5px;
    gap: 5px;

}

.title{

    word-wrap: break-word;
    width: 70%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.lowerPart{
    word-wrap: break-word;
    width: 100%;
    font-size: 11px;
}

.image{

    border-radius: 50%;

}

.author{

    display: flex;
    gap: 10px;
    font-size: 11px;
    color: gray;

}

.link{

    text-decoration: none;
    color: lightgreen;
    font-size: 11px;
    margin-top: 10px;

}




/* END Cards  

****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************

*/

body{

    background-color: aliceblue;

}

